<h2 id="team-show-teamname"><%= @user.name.titleize %></h2>

<div id="user-show">
  <p><b>Presidents Defeated:</b></p>
  <% @victories.each do |president| %>
    <li><%= president.name %></li>
  <% end %>
</div>
